<nav class="body-nav">
    <div class="body-nav-container">
        <div class="body-nav--logo">
            Matt Lajoie
        </div>
        <div class="body-nav--menu">
            <span class="body-nav--menu-item">About</span>
            <span class="body-nav--menu-item">Skills</span>
            <span class="body-nav--menu-item">Career</span>
            <span class="body-nav--menu-item">Projects</span>
            <span class="body-nav--menu-item">Contact</span>
        </div>
    </div>
</nav>
