<nav class="body-nav">
    <div class="body-nav-container">
        <div class="body-nav--logo">
            Matt
            <span class="body-nav--logo-last cursive">LAJOIE</span>
        </div>
        <div class="body-nav--menu">
            <span class="body-nav--menu-item">
                About
                <span class="hover-effect"></span>
            </span>
            <span class="body-nav--menu-item">
                Skills
                <span class="hover-effect"></span>
            </span>
            <span class="body-nav--menu-item">
                Career
                <span class="hover-effect"></span>
            </span>
            <span class="body-nav--menu-item">
                Projects
                <span class="hover-effect"></span>
            </span>
            <span class="body-nav--menu-item">
                Contact
                <span class="hover-effect"></span>
            </span>
        </div>
    </div>
</nav>
