<div class="content-section">
    <h2 class="primary-title">About</h2>
    <div class="info-section">
        <div class="info-section--box-light">
            <h3 class="secondary-title">
                <i class="material-icons">face</i>
                Personal Info
            </h3>
            <div class="info-section-text">
                <p>Hi, I'm Matt. I'm passionate about everything remotely related to computers and spend most of my time working on personal projects. I love sitting down and creating with some nice music playing in the background. That's my kind of Friday night.</p>

                <p>My interests include reading, philosophy, history, strategy games and hockey.</p>

                <p>I will be graduating Concordia University in the Summer of 2019.</p>

                <p>By the way - my actual name is Mathieu, but only my mother is allowed to call me that.</p>
            </div>
        </div>
        <div class="info-section--box-light">
            <h3 class="secondary-title">
                <i class="material-icons">school</i>
                Education
            </h3>
            <div class="info-section-text">

            </div>
        </div>
    </div>
</div>
