<div class="header-container">
    <div id="particles-js" class="header-container--canvas"></div>
    <div class="header-container--content">
        <img src="../../../assets/square1-min.png" alt="Picture of Matt" class="header-container--content-image" />
        <div class="header-container--content-inner">
            <span class="header-container--content-inner--major">Matt Lajoie</span>
            <!-- TODO: Use Typed.js https://github.com/mattboldt/typed.js/ and add stuff like "Part-time weirdo", "Angular Wizard" -->
            <span class="header-container--content-inner--minor">Full Stack Developer</span>
        </div>
    </div>
</div>
