:host {
    display: block;
    height: 100%;
    overflow: auto;

    // Global Variables
    --primary: black;
    --primary-light: #363636;
    --secondary: #FFFFFF;
    --accent: #226089;
    --accent-light: #0075F6;
    --neutral: #4592AF;

    --text-primary: white;
    --text-secondary: #363636;

    background-color: var(--primary);
    color: var(--text-primary);
}
