:host {
    display: block;
    height: 100%;
    overflow: auto;

    background-color: var(--primary);
    color: var(--text-primary);
}

// CSS PROPERTIES NEED TO GO ON ROOT OR HTML TAG
// THEN MODIFY THESE DYNAMICALLY USING A SERVICE OR A FUNCTION
