<div class="main-carousel" data-flickity='{"imagesLoaded": true, "wrapAround": true, "draggable": true, "autoPlay": true}'>
    <div class="carousel-cell">
        <img src="../../../../assets/archery.png" alt="Matt playing archery tag."/>
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/sap_gang.png" alt="Matt with fellow SAP interns at archery tag."/>
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/goalie.png" alt="Matt playing hockey as a goalie."/>
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/goalie_2.png" alt="Matt again playing hockey as a goalie."/>
    </div>
    <div class="carousel-cell">
        <img src="../../../../assets/scigilian.png" alt="Matt with colleagues at Scigilian Software."/>
    </div>
</div>
