@import "./assets/variables.scss";

body {
    height: 100%;
    font-size: 14px;
    margin: 0;
    font-family: 'Raleway', Verdana, sans-serif;
    background-color: $primary;
    color: $text-primary;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-align-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}
