body {
    height: 100%;
    font-size: 14px;
    margin: 0;
    font-family: 'Montserrat', Verdana, sans-serif;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-align-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
}

.content-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-title {
    margin-top: 1.3em;
    font-size: 2rem;
}

.secondary-title {
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 8px;
    margin-top: 0;
    padding-bottom: 4px;
    border-bottom: 3px solid var(--accent);
}
